@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Oxygen:wght@300;400;700&display=swap");
*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: rgb(27, 38, 44);
}

.container-all {
  width: 90%;
  position: relative;
  margin: auto;
}

.wrapper-banner {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  border-radius: 20px;
  margin: auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.wrapper-banner img {
  width: 100px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(50, 130, 184, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
}
nav .wrapper-title {
  font-family: "Oxygen", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(187, 225, 250);
  width: -moz-max-content;
  width: max-content;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 0;
}
nav ul li {
  list-style-type: none;
  margin: 0px 10px;
  position: relative;
}
nav ul li a {
  color: white;
  font-family: "Oxygen", sans-serif;
  text-decoration: none;
}
nav ul li a div {
  font-size: 16px;
}
nav ul li a span {
  display: none !important;
  font-size: 30px;
}
nav ul li ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 3;
  color: white;
  transition: all 0.1s ease-in-out;
  width: -moz-max-content;
  width: max-content;
  padding: 20px 0;
}
nav ul li ul li {
  transition: all 0.3s ease-in-out;
  background-color: rgba(50, 130, 184, 0.5);
  backdrop-filter: blur(2px) !important;
  -webkit-backdrop-filter: blur(2px);
  width: 200px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
}
nav ul li ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
}
nav ul li ul li a:hover {
  background-color: rgb(15, 76, 117);
}
nav ul li:hover ul, nav ul li:hover li {
  visibility: visible;
  opacity: 1;
}
nav ul li:hover li:nth-child(2) {
  transition-delay: 0.2s;
}
nav ul li:hover li:nth-child(3) {
  transition-delay: 0.3s;
}
nav ul li:hover li:nth-child(4) {
  transition-delay: 0.4s;
}
nav ul li:hover li:nth-child(5) {
  transition-delay: 0.5s;
}
nav ul li:hover li:nth-child(6) {
  transition-delay: 0.6s;
}
nav ul li:hover li:nth-child(7) {
  transition-delay: 0.7s;
}
nav ul li:hover li:nth-child(8) {
  transition-delay: 0.8s;
}
nav ul li:hover li:nth-child(9) {
  transition-delay: 0.9s;
}
nav ul li:hover li:nth-child(10) {
  transition-delay: 1s;
}

.wrapper-content {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper-content .container-carousel {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.wrapper-content .container-carousel::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
}
.wrapper-content .container-carousel::-webkit-scrollbar-thumb {
  background-color: rgb(15, 76, 117);
  border-radius: 20px;
}
.wrapper-content .container-carousel .swiper-container {
  width: 100%;
}
.wrapper-content .container-carousel .swiper-container .swiper-wrapper {
  padding: 10px;
  width: -moz-max-content;
  width: max-content;
}
.wrapper-content .container-carousel .swiper-container .swiper-wrapper .swiper-slide {
  width: 170px !important;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}
.wrapper-content .container-carousel .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}
.wrapper-content .container-card {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.wrapper-content .container-card .card-movie {
  width: 170px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.wrapper-content .container-card .card-movie img {
  width: 150px;
  border-radius: 20px;
}
.wrapper-content .container-card .card-movie .wrapper-title-years {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}
.wrapper-content .container-card .card-movie .wrapper-title-years .title {
  height: auto;
  background-color: rgba(15, 76, 117, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  text-align: center;
  width: 70%;
  flex-wrap: wrap;
  font-family: "Oxygen", sans-serif;
  color: rgb(187, 225, 250);
  font-weight: white;
  font-size: 16px;
  margin: 0 auto;
}
.wrapper-content .container-card .card-movie .wrapper-title-years .years {
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(15, 76, 117, 0.5);
  font-family: "Oxygen", sans-serif;
  font-style: italic;
  font-size: 14px;
  color: white;
  text-align: right;
}
.wrapper-content .container-card .card-movie:hover img {
  opacity: 0.5;
}

.container-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-pagination .pagination {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(15, 76, 117, 0.5);
  padding: 0px 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}
.container-pagination .pagination li {
  list-style-type: none;
}
.container-pagination .pagination li a {
  height: 30px;
  display: block;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: white;
  color: rgb(15, 76, 117);
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.wrapper-detail {
  padding: 10px;
  color: white;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrapper-detail .wrapper-img {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper-detail .wrapper-img .title {
  position: relative;
  z-index: 1;
  background-color: rgba(50, 130, 184, 0.5);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}
.wrapper-detail .wrapper-img img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  top: 0;
  margin-top: -20px;
  position: relative;
  z-index: 0;
}
.wrapper-detail .card-movie {
  width: 100%;
}
.wrapper-detail .card-movie .wrapper-title-years {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(50, 130, 184, 0.5);
  flex-wrap: wrap;
  border-radius: 10px;
}
.wrapper-detail .card-movie .wrapper-title-years .title {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
}
.wrapper-detail .card-movie .wrapper-title-years .years {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
}
.wrapper-detail .wrapper-movie-link {
  width: 50%;
  padding: 20px 10px;
}
.wrapper-detail .wrapper-movie-link .container-link {
  margin-top: -20px;
  padding: 0px 20px;
}
.wrapper-detail .wrapper-movie-link .container-link .wrapper-card-link {
  min-height: 70px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(15, 76, 117);
  border-top: 2px solid white;
}
.wrapper-detail .wrapper-movie-link .container-link .wrapper-card-link .wrapper-quality {
  color: white;
}
.wrapper-detail .wrapper-movie-link .container-link .wrapper-card-link .wrapper-link-quality {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.wrapper-detail .wrapper-movie-link .container-link .wrapper-card-link .wrapper-link-quality a {
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  color: white;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 5px;
  border-top: 2px solid white;
}
.wrapper-detail .wrapper-movie-link .container-link .wrapper-card-link .wrapper-link-quality a:nth-child(1) {
  background-color: #9b59b6;
}
.wrapper-detail .wrapper-movie-link .container-link .wrapper-card-link .wrapper-link-quality a:nth-child(2) {
  background-color: #2ecc71;
}
.wrapper-detail .wrapper-movie-link .container-link .wrapper-card-link .wrapper-link-quality a:nth-child(3) {
  background-color: #e74c3c;
}

@media screen and (max-width: 950px) {
  .wrapper-movie-link {
    width: 100% !important;
    min-width: none;
  }
}
@media screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 80px;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(50, 130, 184, 0.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0;
  }
  nav .wrapper-title {
    font-size: 8px;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: -15px;
  }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 5px;
  }
  nav ul li {
    height: 100%;
  }
  nav ul li a {
    display: block;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  nav ul li a div {
    font-size: 10px;
  }
  nav ul li a span {
    display: block !important;
  }
  nav ul li .ani-menu {
    transform: translateY(-96%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
  }
  nav ul li .ani-menu li {
    width: 100%;
    background-color: transparent;
  }
  nav ul li .ani-menu li a {
    background-color: rgb(15, 76, 117);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0px 10px;
  }
  nav ul li .ani-menu li a:hover {
    background-color: rgba(50, 130, 184, 0.5);
  }
  .wrapper-content .container-carousel {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgba(50, 130, 184, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
  .wrapper-content .container-carousel .swiper-container .swiper-wrapper {
    padding: 0;
    width: -moz-max-content;
    width: max-content;
  }
  .wrapper-content .container-carousel .swiper-container .swiper-wrapper .swiper-slide {
    width: 100px !important;
    height: auto;
  }
  .wrapper-content .container-card .card-movie {
    width: 100%;
    height: auto;
    margin: 5px 0;
  }
  .wrapper-content .container-card .card-movie img {
    width: 400px;
    max-width: 300px;
  }
  .wrapper-content .container-card .card-movie .wrapper-title-years {
    width: 70%;
  }
  .wrapper-content .container-card .card-movie .wrapper-title-years .title {
    width: 100%;
    padding: 10px;
  }
  .container-pagination {
    margin-bottom: 90px;
  }
  .wrapper-detail {
    margin-bottom: 50px;
  }
  .wrapper-detail .wrapper-img {
    width: 100%;
  }
  .wrapper-detail .wrapper-img img {
    min-width: 100%;
    max-width: 100%;
  }
  .wrapper-detail .wrapper-movie-link {
    width: 100%;
    min-width: none;
  }
}/*# sourceMappingURL=main.css.map */